<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> selecciona la tabla que quieras</h1>
    
    <% listas.forEach(item => { %>
        <div>
            
            <form action ="/add/<%= id_producto %>" method="POST">    
                <h1><%= item.nombre %></h1>
                <input type="hidden" name="listas" value="<%= JSON.stringify(listas) %>">
                <button> añadir</button>
            </form>
        </div>
        <% }); %>
</body>
</html>