<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <title>Document</title>
</head>
<body>
    
       <footer>
            <img class="logo" src="/images/logo5.png" alt="">
            <div class="div-icons">
                <a class="icon" href=""></a>
                <a class="icon" href=""></a>
                <a class="icon" href=""></a>
                <a class="icon" href=""></a>
            </div>
            <ul class="menu">
                <li class="item">Legal</li>
                <li class="item">Cookies</li>
                <li class="item">Privado</li>
                <li class="item">Shipping</li>
                <li class="item">Refunds</li>
            </ul>
       </footer>
    <div class="div-copy">
        <span class="copy">&copy;2021,Krey Academy. All right reserved</span>
    </div>
        
</body>
</html>