<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <title>Document</title>
</head>
<body>
       <footer>

            <img class="logo" src="/images/logo5.png" alt="">

            <div class="div-icons">
                <a class="icon" href=""></a>
                <a class="icon" href=""></a>
                <a class="icon" href=""></a>
                <a class="icon" href=""></a>
            </div>

            <ul class="menu">
                <li class="item">Legal</li>
                <li class="item">Cookies</li>
                <li class="item">Privado</li>
                <li class="item">Devoluciones</li>
            </ul>

       </footer>

    <div class="div-copy">
        <span class="copy">2024,Weedgo. Todos los derechos reservados <i class="fa-solid fa-copyright"></i></span>
    </div>
        
</body>
</html>