<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/popuplogin.css'/>
  </head>
  <body>
    
    <button href="" id="openl">login</button>
    <button href="/a" id="openr">register</button>
    


    <%- include("popuplogin.ejs") %>

    <%- include("popupregister.ejs") %>

  

    <script src="/javascripts/popup.js"></script>
  </body>
</html>
