<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/popuplogin.css'/>
  </head>
  <body>
    
    <button href="" id="openl">login</button>
    <button href="" id="openr">register</button>


    <div class="popup-containerl" id="popup_containerl">
        <div class="modal">
          <h1>LOGIN</h1>
          <button id="close">Loguearse</button>
        </div>
    </div>

  <div class="popup-containerr" id="popup_containerr">
      <div class="modal">
        <h1>REGISTER</h1>
        <button id="closer">Registrarse</button>
      </div>
  </div>

    </div>

    <script src="/javascripts/popup.js"></script>
  </body>
</html>
