<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/login.css'/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway&display=swap" rel="stylesheet">


  </head>
  <body>

  <!----------------------- CONTENIDO PRINCIPAL ----------------------->

  <div class="contenedor2" id="prueba">
    <div class="contenedor">
      <div class="container">
  
        <img src="/images/logo5.png" alt="logo">
  
        <div class="container-titulo">
          <h1>Bienvenido a</h1>
          <h1 class="weedgo">WEEDGO</h1>
        </div>
        
        <div class="buttons">
          <button id="login">Loguearse <i class="fa-solid fa-right-to-bracket"></i> </button>
          <button id="register">Registrarse <i class="fa-solid fa-user"></i></button>
        </div>
  
      </div>
  
  
      <!----------------------- SECCIONES DE INFORMACIÓN ----------------------->
    
      <div class="container2">
        <div class="item1">
          <button onclick="toggleSection()">¿Quiénes Somos? <i class="fa-solid fa-caret-right"></i></button>
          <section id="mySection" class="hidden">
            <p>Weedgo es una empresa de venta de productos relacionado con el thc,esto es un portal de ventas en que podras encontrar todo tipo de productos.</p>
          </section>
        </div>
    
        <div class="item2">
          <button onclick="toggleSection2()">¿A que nos dedicamos? <i class="fa-solid fa-caret-right"></i></button>
          <section id="mySection2" class="hidden2">
            <p>Nos dedicamos a la venta de productos relacionados con el thc, pero tambien otros productos de uso normal como mecheros, papel, incluso ropa.  </p>
          </section>
        </div>
        
      </div>
  
  
  
      <div class="container3">
        
        <div class="item1">
          <button onclick="toggleSection3()">¿Cúal es nuestro objetivo?<i class="fa-solid fa-caret-right"></i></button>
          <section id="mySection3" class="hidden3">
            <p>Nuestro objetivo como empresa es hacer menos tabú la venta de estos productos y que puedas comprar con comodidad y facilidad estos productos en cualquier momento.</p>
          </section>
        </div>
    
        <div class="item2">
          <button onclick="toggleSection4()">¿Es legal?<i class="fa-solid fa-caret-right"></i></button>
          <section id="mySection4" class="hidden4">
            <p>Si el porcentaje de THC es inferior a 0,3% los productos serán legales, como la venta de la planta en si y productos relacionados con ello como cremas o colonias. Y todos los productos vendidos en weedgo están por debajo de ese 0.3%</p>
          </section>
        </div>
      </div>
    
    
<div id="overlay"></div>
  
    <!----------------------- POPUP LOGIN ----------------------->
  
      <div id="popup">
        <div class="popup-container">
  
          <button><i id="close" class="fa-solid fa-xmark"></i></button>
          <h1>LOGIN</h1>
  
          <form id="loginForm" action="/login" method="POST">
              <label for="username">Nombre de usuario:</label>
              <input type="text" name="username" id="username" placeholder="Escribe tu nombre..." required>
    
              <label for="pass">Contraseña:</label>
              <input type="password" name="password" id="pass" placeholder="Escribe tu contraseña..." required>
              <div class="div-boton">
                <input id="boton" class ="btn-login" type="submit" value="loguearse"></input>
              </div>
          </form>
  
        </div>
      </div>
    
    
    
    <!----------------------- POPUP REGISTER ----------------------->
    
      <div id="popup2">
        <div class="popup-container">
  
          <button><i id="closer" class="fa-solid fa-xmark"></i></button>
          <h1 id ="titulo">REGISTRARSE</h1>
  
          <form id="registerForm" action="/register" method="POST">
              <label for="username">Nombre de usuario:</label>
              <input type="text" name="username" id="username" placeholder="Escribe tu nombre..." required>
    
              <label for="pass">Contraseña:</label>
              <div class="div-password"> 
                <input type="password" name="password" class="pass" id="passs" placeholder="Escribe tu contraseña" required>
                <i id="icon" class="fa-solid fa-eye-slash"></i>
                <i id="icon2" class="fa-solid fa-eye"></i>
              </div>
    
              <label for="">Gmail:</label>
              <input type="email" name="gmail" id="email"  placeholder="Escribe tu gmail" required>
    
              <input placeholder="Edad" type="number" name="edad" class="edad" min="0" required>
    
              <div class="boton2">
                  <input id="boton2" type="submit" class="btn-save" value="Registrarse">
              </div>
          </form>
          
        </div>
      </div>
    
    </div>  
  </div>



<!----------------------- FUNCIONES PARA HACER QUE APAREZCAN LAS SECCIONES ----------------------->

<script>
  function toggleSection() {
      var section = document.getElementById('mySection');
      if (section.classList.contains('hidden')) {
          section.classList.remove('hidden')
      } else {
          section.classList.add('hidden');
      }
  }

  function toggleSection2() {
      var section = document.getElementById('mySection2');
      if (section.classList.contains('hidden2')) {
          section.classList.remove('hidden2');
      } else {
          section.classList.add('hidden2');
      }
  }

  function toggleSection3() {
      var section = document.getElementById('mySection3');
      if (section.classList.contains('hidden3')) {
          section.classList.remove('hidden3');
      } else {
          section.classList.add('hidden3');
      }
  }

  function toggleSection4() {
      var section = document.getElementById('mySection4');
      if (section.classList.contains('hidden4')) {
          section.classList.remove('hidden4');
      } else {
          section.classList.add('hidden4');
      }
  }



  //------------------------------Función para los iconos de mostrar y ocultar contraseña------------------------
  
  const pass = document.getElementById("passs")
  const icon = document.getElementById("icon")
  const icon2 = document.getElementById("icon2")

  icon2.style.display="none"
  icon2.style.cursor="pointer"


  icon.addEventListener("click",e=>{
    if(pass.type === "password"){
      pass.type = "text"
      icon.style.display="none"
      icon2.style.display="block"
    }
  })
  icon2.addEventListener("click",e=>{
    if(pass.type === "text"){
      pass.type ="password"
      icon.style.display="block"
      icon2.style.display="none"
    }
  })

</script>

    <script src="/javascripts/popupLogin.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/javascripts/sweetalert.js"></script>
    

  </body>
</html>
