<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/login.css'/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

  </head>
  <body>

    <!-- <img src="/images/logo.png" alt="logo"> -->

    <div class="container">
      <div class="container-titulo">
        <h1>Bienvenido a Weedgo</h1>
      </div>
      <div class="buttons">
        <button id="login" onclick="abrirPopup()">login</button>
        <button id="register" onclick="abrirPopupR()">Registrarse</button>
      </div>
    </div>




    <div id="popup">
      <button onclick="cerrarPopup()"><i id="close" class="fa-solid fa-xmark"></i></button>
      <h1>LOGIN</h1>
      <form action="/login" method="POST">
          <input type="text" name="username" id="username" placeholder="Username..." required>
          <input type="password" name="pass" id="pass" placeholder="Contraseña..." required>
          <input href="/" id="boton" class ="btn-login" type="submit" value="loguearse"></input>
    </form>
    <p>Sino tienes cuenta registrate <a href="register" class="btn-register">aqui</a></p>
  </div>



  

  <div id="popup2">
    <button onclick="cerrarPopupR()"><i id="close" class="fa-solid fa-xmark"></i></button>
    <h1 id ="titulo">Registrarse</h1>
    <form action="register" method="POST">
        <label for="username">User name</label>
        <input type="text" name="username" id="username" required>

        <label for="pass">Contraseña</label>
        <input type="password" name="pass" id="pass" required>

        <label for="">Gmail</label>
        <input type="email" name="gmail" id="email" required>


        <input placeholder="Edad..." type="number" name="edad" id="edad" required>


        <div style="display: inline">
            <input id="boton2" type="submit" class="btn-save" value="Save">
        </div>
    </form>
</div>

    

   
    
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/javascripts/popupLogin.js"></script>
  </body>
</html>
