<nav class="navbar">
    <button><a href="/">Cerrar Sesión <i class="fa-solid fa-right-from-bracket"></i></a></button>
    <img src="/images/logo5.png" alt="Logo">
    <ul class="nav-links">
        <li><a href="/main">Inicio</a></li>
        <li><a href="/tablas">Tablas</a></li>
        <li><a href="#">Contacto</a></li>
    </ul>
</nav>

