<nav class="navbar">
    <form action="/logout">   
        <button type="submit">Cerrar Sesión <i class="fa-solid fa-right-from-bracket"></i></button>
    </form>
   
    <img src="/images/logo5.png" alt="Logo">
    <ul class="nav-links">
        <li><a href="/main">Inicio</a></li>
        <li><a href="/tablas">Tablas</a></li>
        <li><a href="#">Contacto</a></li>
        <li><a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a></li>
    </ul>
</nav>

