<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/popupTabla.css'>
    <title>Document</title>
</head>
<body>
    <div id="popup">
        <h2>Contenido del Popup</h2>
        <form action="/crearTabla" method="post">
            <input type="text" placeholder="Nombre de la lista..." name="nombre">
            <button type="submit">Crear</button>
            <button onclick="cerrarPopup()">Cerrar Popup</button>
        </form>
        
    </div>

<script src="/javascripts/popupTabla.js"></script>
</body>
</html>