<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/popupTabla.css'>
    <title>Document</title>
</head>
<body>
    <div id="popup">
        <h2>Contenido del Popup</h2>
        <p>Este es el contenido del popup.</p>
        <button onclick="cerrarPopup()">Cerrar Popup</button>
    </div>

<script src="/javascripts/popupTabla.js"></script>
</body>
</html>