<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/popupTabla.css'>
    <title>Document</title>
</head>
<body>

<%- include("./popupTabla.ejs")  %>
<% if(fila.length <= 0) { %>
    <h1>no tienes ninfyna tabla, crea una pulsando<button onclick="abrirPopup()">aqui</button></h1>
<% } else { %>
    
    
    <h1> pulsa <button onclick="abrirPopup()">aqui</button> para crear otra</h1>

    <% } %>

    <% fila.forEach(item => { %>
        <div>
            <h1><%= item.nombre %></h1>
            <a id="eliminar" href="/editar/<%=item.id%>">Editar</a>
            <a id="eliminar" href="/delete/<%= item.id  %>">Eliminar</a>
        </div>
        <% }); %>



<script src="/javascripts/popupTabla.js"></script>

</body>
</html>