body
  font-family: Arial, sans-serif
  margin: 0
  padding: 0
  display: flex
  justify-content: center
  align-items: center
  height: 100vh
  background-color: green
  transition: background-color 0.3s ease


#popup
    display: none
    position: fixed
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    background-color: white
    padding: 20px
    border: 1px solid #ccc
    z-index: 100

.fondo-opaco 
    background-color: rgb(5, 46, 22)


.container-titulo
    display: flex

h1
  font-size: 2rem
  margin-bottom: 30px

.wedgo
    margin-left: 11px
    animation-name: aparecer
    animation-duration: 2s


@keyframes aparecer
  0%
    opacity: 0
  100%
    opacity: 1


.buttons
  display: flex
  justify-content: center


button
  padding: 10px 20px
  margin: 0 10px
  border: none
  border-radius: 5px
  cursor: pointer
  font-size: 1rem
  transition: background-color 0.3s ease


button:hover 
  background-color: #ddd


.login-btn 
  background-color: #4CAF50
  color: white


.register-btn 
  background-color: #008CBA
  color: white



#popup 
    display: none
    position: fixed
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    background-color: white
    padding: 20px
    border: 1px solid #ccc
    z-index: 100

form
    display: flex
    flex-direction: column

input
    width: 100%
    padding: 10px
    border: 1px solid #ced4da
    margin-bottom: 10px
    box-sizing: border-box

.btn-login
    width: 100%
    padding: 15px
    background: #6f42c1
    border: 0
    box-sizing: border-box
    cursor: pointer
    font-weight: bold
    font-size: large
    color: white

#close
    display: flex
    color: red
    width: 100%
    justify-content: flex-end
    font-size: 21px
    font-weight: bold
    &:hover
        cursor: pointer