$color-fondo: #f0f5f9 // Verde claro para el fondo
$color-texto: #333 
$color-boton: #014421
  
body
  font-family: Arial, sans-serif
  margin: 0
  padding: 0
  display: flex
  justify-content: center
  align-items: center
  height: 100vh
  background-image: url("https://static.vecteezy.com/system/resources/previews/007/570/698/non_2x/leaves-cannabis-engraved-seamless-pattern-retro-background-botanical-with-leaf-marijuana-in-hand-drawn-style-vector.jpg")
  transition: background-color 0.3s ease

#overlay 
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: rgba(0, 0, 0, 0.7)
    display: none
    z-index: 10
  
.contenedor
  background: #DADD98
  height: 85%
  width: 73%
  display: flex
  justify-content: space-between
  align-items: center
  border-radius: 20px
  box-shadow: 10px 10px 5px 2px rgba(0, 0, 0, 0.5)
  .container
    height: 100%
    width: 40%
    border-radius: 10px
    display: flex
    justify-content: space-around
    flex-direction: column
    align-items: center
    .buttons
      margin-bottom: 40px
      display: flex
      flex-direction: column
      align-items: center
      
      button
        background-color: $color-boton
        color: white
        padding: 10px 20px
        border: none
        border-radius: 5px
        font-size: 1rem
        cursor: pointer
        transition: background-color 0.3s
        border-radius: 14px
        
        
        &:hover 
            background-color: darken($color-boton, 5%) // Oscurecer el color del botón al pasar el ratón
      #login
        animation: entradaInputs 2s ease 1.3s forwards
        opacity: 0
        margin-bottom: 20px
        padding: 12px 86px
        font-family: "Poetsen One", sans-serif
        font-weight: 400
        font-style: normal
      #register
        animation: entradaInputs 2s ease 1.3s forwards
        opacity: 0
        padding: 12px 83px
        font-family: "Poetsen One", sans-serif
        font-weight: 400
        font-style: normal
    
    .redes
      display: flex
      width: 35%
      justify-content: space-evenly
      animation: entradaBoton 1.4s ease 1s forwards
      opacity: 0
      div
        border-radius: 100px
        padding: 10px
        transition: transform 0.2s
        transition: .8s ease .1s all
        &:hover
          cursor: pointer
          background: white
          animation: pulse 0.6s infinite
      
      i
        color: black
        font-size: 20px
    .container-titulo
      margin-bottom: 40px
      display: flex
      flex-direction: column
      align-items: center
      .weedgo
        display: flex
        margin-top: 20px
        animation: tituloInicial 3s ease 1.3s forwards

      h1
        animation: tituloInicial 3s ease forwards
        opacity: 0
        margin: 0
        padding: 0
        font-size: 60px
        font-family: "Playfair Display", serif
        font-optical-sizing: auto
        font-weight: 800
        font-style: italic

    img
      max-width: 125px
      margin: 0 auto
      display: block
      position: absolute
      top: 1%
      right:48%
      
       





.container2,.container3
  display: flex
  flex-direction: column
  height:100%
  width: 33%
  align-items: center
  margin-top: 150px
  #mySection,#mySection2,#mySection3, #mySection4
    background: #014421
    padding: 12px
    border-radius: 20px
    width: 90%
    p
      font-size: 17px
      color: white
      font-family: "Raleway", sans-serif
      font-weight: 400
      font-style: normal

  .hidden, .hidden2, .hidden3, .hidden4
    display: none
  button
    background: none
    border: none
    margin-top: 30px
    margin-bottom: 30px
    width: 56%
    padding: 7px
    border-bottom: 1px solid transparent
    transition: border-color 0.5s ease
    font-family: "Raleway", sans-serif
    font-weight: 700
    font-style: normal
    &:hover
      cursor: pointer
      border-bottom: 1px solid black
    

#popup
    display: none
    position: fixed
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    background-color: white
    padding: 20px
    border: 1px solid #ccc
    z-index: 20
    transition: 2s ease all
    .popup-content
      position: relative
    button
      background: white
      width: 100%
      justify-content: flex-end
      display: flex
      border: none
      border-radius: 5px
      font-size: 1rem
      transition: background-color 0.3s ease
    .btn-login
      width: 100%
      padding: 15px
      background: #6f42c1
      border: 0
      box-sizing: border-box
      cursor: pointer
      font-weight: bold
      font-size: large
      color: white
      transition: .3s ease all
      &:hover
        background: #560ae2ea
    h1
      opacity: 0
      animation: entrada .8s ease .5s forwards
    #username, #pass
      opacity: 0
      animation: entradaInputs 1s ease 1s forwards
    #boton
      opacity: 0
      animation: entradaBoton 1.4s ease 1s forwards




#popup2
    display: none
    position: fixed
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    background-color: white
    padding: 20px
    border: 1px solid #ccc
    z-index: 100
    width: 20%
    button
      background: white
      width: 100%
      justify-content: flex-end
      display: flex
      border: none
      border-radius: 5px
      font-size: 1rem
      transition: background-color 0.3s ease
    #username, #pass, #edad, #email, label
      opacity: 0
      animation: entradaInputs 1s ease 1s forwards
    h1
      opacity: 0
      animation: entrada .8s ease .5s forwards
    #boton2
      cursor: pointer
      opacity:0
      animation: entradaBoton 1.4s ease 1s forwards
      &:hover
        background: orange
        transition: .3s ease all


form
    display: flex
    flex-direction: column

input
    width: 100%
    padding: 10px
    border: 1px solid #ced4da
    margin-bottom: 10px
    box-sizing: border-box



#close,#closer
    display: flex
    color: #bbbbbb
    justify-content: flex-end
    font-size: 21px
    font-weight: bold
    transition: .3s ease all
    &:hover
        cursor: pointer
        color: red






    


@keyframes entrada
  0%
    transform: translateY(-25px)
    opacity: 0
  100%
    transform: translateY(0)
    opacity: 1
    
@keyframes entradaInputs
  0%
    opacity: 0
  100%
    opacity: 1

@keyframes entradaBoton
  0%
    transform: translateY(25px)
    opacity: 0
  100%
    transform: translateY(0)
    opacity: 1

    
@keyframes tituloInicial
  0%
    opacity: 0
    transform: translateY(-50px)
  100%
    transform: translateY(0)
    opacity: 1

@keyframes pulse 
    0% 
        transform: scale(1)
    
    50% 
        transform: scale(1.1)
    
    100% 
        transform: scale(1)
    
