body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: green;
  transition: background-color 0.3s ease;
}

#popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  z-index: 100;
  transition: 2s ease all;
}
#popup button {
  background: white;
  width: 100%;
  justify-content: flex-end;
  display: flex;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}
#popup .btn-login {
  width: 100%;
  padding: 15px;
  background: #6f42c1;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: bold;
  font-size: large;
  color: white;
  transition: 0.3s ease all;
}
#popup .btn-login:hover {
  background: rgba(86, 10, 226, 0.9176470588);
}
#popup h1 {
  opacity: 0;
  animation: entrada 0.8s ease 0.5s forwards;
}
#popup #username, #popup #pass {
  opacity: 0;
  animation: entradaInputs 1s ease 1s forwards;
}
#popup #boton {
  opacity: 0;
  animation: entradaBoton 1.4s ease 1s forwards;
}

#popup2 {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  z-index: 100;
  width: 20%;
}
#popup2 button {
  background: white;
  width: 100%;
  justify-content: flex-end;
  display: flex;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}
#popup2 #username, #popup2 #pass, #popup2 #edad, #popup2 #email, #popup2 label {
  opacity: 0;
  animation: entradaInputs 1s ease 1s forwards;
}
#popup2 h1 {
  opacity: 0;
  animation: entrada 0.8s ease 0.5s forwards;
}
#popup2 #boton2 {
  cursor: pointer;
  opacity: 0;
  animation: entradaBoton 1.4s ease 1s forwards;
}
#popup2 #boton2:hover {
  background: orange;
  transition: 0.6s ease all;
}

.fondo-opaco {
  background-color: rgb(5, 46, 22);
}

.container-titulo {
  display: flex;
}
.container-titulo h1 {
  animation: tituloInicial 3s ease forwards;
  opacity: 0;
}

h1 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.wedgo {
  margin-left: 11px;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}
.buttons button {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #333333;
  border-radius: 4px;
  background-color: #ffffff;
  color: #333333;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.buttons button:hover {
  background-color: #333333;
  color: #ffffff;
}
.buttons button:active {
  background-color: #666666;
  color: #ffffff;
}
.buttons #login {
  animation: botonesInicio2 2s ease 1s forwards;
  opacity: 0;
}
.buttons #register {
  animation: botonesInicio 2s ease 1s forwards;
  opacity: 0;
}

.login-btn {
  background-color: #4CAF50;
  color: white;
}

.register-btn {
  background-color: #008CBA;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ced4da;
  margin-bottom: 10px;
  box-sizing: border-box;
}

#close {
  display: flex;
  color: #bbbbbb;
  justify-content: flex-end;
  font-size: 21px;
  font-weight: bold;
  transition: 0.3s ease all;
}
#close:hover {
  cursor: pointer;
  color: red;
}

@keyframes entrada {
  0% {
    transform: translateY(-25px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes entradaInputs {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes entradaBoton {
  0% {
    transform: translateY(25px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes botonesInicio {
  0% {
    transform: translateX(40px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes botonesInicio2 {
  0% {
    transform: translateX(-40px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes tituloInicial {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}/*# sourceMappingURL=login.css.map */