body
    font-family: Arial, sans-serif
    margin: 0
    padding: 0
    background: url("https://img.freepik.com/vector-gratis/hojas-marihuana-estilo-linea-arte-sobre-fondo-negro-estructurado_1268-14249.jpg")


    
.productos 
    padding: 50px 0
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: center


.container
    width: 22%
    padding: 0 20px
    


.producto
    text-align: center
    margin-bottom: 50px
    padding: 20px
    background: #95E06C
    &:hover
        cursor: pointer
        background: rgb(6, 58, 14)
        transition: .5s ease all
    button
        &:hover
            animation: pulse .8s infinite
            cursor: pointer
            background: orange

    
    #img
        transition: opacity 0.3s ease
        &:hover
            opacity: 1
    h1
        font-size: 20px
    h2
        font-size: 16px
    img
        width: 25%
        height: auto
        margin-bottom: 20px
    button
        background-color: #333
        color: #fff
        border: none
        padding: 10px 20px
        cursor: pointer
        transition: background-color 0.3s
    a
        text-decoration: none
        color: inherit


@keyframes pulse 
    0% 
        transform: scale(1)
    
    50% 
        transform: scale(1.1)
    
    100% 
        transform: scale(1)