body
    font-family: Arial, sans-serif
    margin: 0
    padding: 0
    background: rgb(53,131,69)
    background: linear-gradient(0deg, rgba(53,131,69,1) 12%, rgba(55,255,102,1) 56%, rgba(55,130,150,1) 89%)

.container
    width: 22%
    padding: 0 20px
    
   
    

.productos 
    padding: 50px 0
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: center
    
    
.producto
    text-align: center
    margin-bottom: 50px
    padding: 20px
    background: #95E06C
    &:hover
        cursor: pointer
        background: rgb(6, 58, 14)
        transition: .5s ease all
    
    #img
        transition: opacity 0.3s ease
        &:hover
            opacity: 1
    h1
        font-size: 20px
    h2
        font-size: 16px
    img
        width: 25%
        height: auto
        margin-bottom: 20px
    button
        background-color: #333
        color: #fff
        border: none
        padding: 10px 20px
        cursor: pointer
        transition: background-color 0.3s
    a
        text-decoration: none
        color: inherit






    