* {
  margin: 0px;
  padding: 0px;
}

body {
  background: url("https://img.freepik.com/vector-gratis/hojas-marihuana-estilo-linea-arte-sobre-fondo-negro-estructurado_1268-14249.jpg");
}

.container {
  height: 88vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: #D0F0C0;
  width: 45%;
  height: 40%;
  border-radius: 20px;
}
.container .container2 .tooltip-container {
  position: relative;
  display: inline-block;
  border-radius: 100px;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-bottom: -60px;
  margin-top: -30px;
}
.container .container2 .tooltip-container i {
  padding: 7px 10px;
  cursor: pointer;
  color: black;
  border: 3px solid black;
  border-radius: 100px;
  margin-right: 30px;
  margin-bottom: 20px;
  font-size: 12px;
}
.container .container2 .tooltip-container i:hover {
  color: white;
  background: black;
}
.container .container2 .tooltip-container .tooltip-content {
  display: none;
  position: absolute;
  bottom: 120%;
  left: 93%;
  transform: translateX(-50%);
  width: 200px;
  padding: 23px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  z-index: 10;
  transition: opacity 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container .container2 .tooltip-container .tooltip-content::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}
.container .container2 .tooltip-container .tooltip-content.visible {
  display: block;
  opacity: 1;
}
.container .container2 .tooltip-container .tooltip-content .tooltip-close {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  color: #fff;
}
.container .container2 .hover-button {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  font-size: 16px;
  transition: all 0.5s ease;
  animation: entradaInputs 1s ease 1.2s forwards;
  opacity: 0;
}
.container .container2 .hover-button .button-text {
  transition: opacity 0.5s ease, visibility 0.5s ease;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.container .container2 .hover-button .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}
.container .container2 .hover-button:hover .button-text {
  opacity: 0;
  visibility: hidden;
}
.container .container2 .hover-button:hover .icon {
  opacity: 1;
  visibility: visible;
}
.container .container2 h1 {
  animation: entrada 0.7s ease 0.5s forwards;
  opacity: 0;
  color: black;
  font-family: "Merriweather", serif;
  font-weight: 800;
  font-style: normal;
}

.container4 {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.container4 .container3 {
  display: flex;
  flex-direction: column;
  background: #a7db8d;
  width: 50%;
  margin-bottom: 9rem;
  margin-top: 9rem;
  border-radius: 15px;
  box-shadow: 10px 10px 5px 2px rgba(0, 0, 0, 0.5);
}
.container4 h1 {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  font-family: "Merriweather", serif;
  font-weight: 800;
  font-style: normal;
  font-size: 26px;
}
.container4 h1 .hover-button {
  position: relative;
  display: inline-block;
  padding: 7px 30px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  font-size: 17px;
  transition: all 0.5s ease;
  margin-left: 15px;
  margin-right: 15px;
}
.container4 h1 .button-text {
  transition: opacity 0.5s ease, visibility 0.5s ease;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.container4 h1 .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}
.container4 h1:hover .button-text {
  opacity: 0;
  visibility: hidden;
}
.container4 h1:hover .icon {
  opacity: 1;
  visibility: visible;
}
.container4 .listas {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  height: 7vh;
  transition: height 0.5s ease;
}
.container4 .listas:hover {
  cursor: pointer;
  height: 21vh;
}
.container4 .listas .titulo h1 {
  margin-bottom: 15px;
  margin-top: 10px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 25px;
}
.container4 .listas .titulo .precio {
  font-family: "REM", sans-serif;
  font-optical-sizing: auto;
  font-weight: 176;
  font-style: normal;
  font-size: 20px;
}
.container4 .listas .botones {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
  transition: display 0.5s ease, opacity 0.5s ease;
  opacity: 0;
  width: 65%;
}
.container4 .listas .edit-button, .container4 .listas .delete-button, .container4 .listas .buy-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container4 .listas .edit-button:hover, .container4 .listas .delete-button:hover, .container4 .listas .buy-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}
.container4 .listas .edit-button:active, .container4 .listas .delete-button:active, .container4 .listas .buy-button:active {
  background-color: #004085;
  transform: scale(0.95);
}
.container4 .listas .edit-button:focus, .container4 .listas .delete-button:focus, .container4 .listas .buy-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}
.container4 .listas .edit-button a, .container4 .listas .delete-button a, .container4 .listas .buy-button a {
  text-decoration: none;
  color: inherit;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.container4 .listas .edit-button i, .container4 .listas .delete-button i, .container4 .listas .buy-button i {
  margin-left: 8px;
}
.container4 .listas .delete-button {
  background-color: #e74c3c;
}
.container4 .listas .delete-button:hover {
  background-color: #c0392b;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}
.container4 .listas .delete-button:active {
  background-color: #c0392b;
  transform: scale(0.95);
}
.container4 .listas .delete-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(231, 76, 60, 0.5);
}
.container4 .listas .buy-button {
  background-color: #4caf50;
}
.container4 .listas .buy-button:hover {
  background-color: #45a049;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.container4 .listas .buy-button:active {
  background-color: #3e8e41;
  transform: scale(0.95);
}
.container4 .listas .buy-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(76, 175, 80, 0.5);
}
.container4 .listas:hover .botones {
  display: flex;
  opacity: 1;
}
.container4 .hr {
  display: flex;
  justify-content: center;
}
.container4 .hr hr {
  width: 75%;
  height: 3px;
  background-color: black;
  margin-bottom: 15px;
  margin-top: 15px;
}
.container4 .hr .hr2 {
  width: 33%;
  height: 3px;
  background-color: black;
  margin-bottom: 3rem;
  margin-top: 5px;
}

@keyframes entrada {
  0% {
    transform: translateY(-25px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes entradaInputs {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (max-width: 768px) {
  .container .container2 {
    width: 80%;
    height: 43%;
  }
  .container .container2 .tooltip-container .tooltip-content {
    left: 77%;
    font-size: 15px;
    padding: 14px;
  }
  .container .container2 h1 {
    font-size: 22px;
  }
  .container .container2 .hover-button {
    font-size: 14px;
  }
  .container4 h1 {
    flex-direction: column;
    align-items: center;
  }
  .container4 h1 button {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .container4 .container3 {
    width: 75%;
  }
  .container4 .listas:hover {
    height: 44vh;
  }
  .container4 .listas .botones {
    flex-direction: column;
  }
  .container4 .listas .botones button {
    margin-bottom: 20px;
  }
}/*# sourceMappingURL=tablas.css.map */