*
    margin: 0px
    padding: 0px


.container
    display: flex
    height: 88vh
    flex-direction: column
    align-items: center
    justify-content: center
    button
        padding: 20px
        margin-top: 30px
        border-radius: 100px
        border: none
        background: gray
        &:hover
            background:#149e39
            transition: .3s ease all
            
